<main>
  <header>
    <div class="container">
      <section class="logo col-3">
        <a href="#"><img src="assets/svg/logo.svg" alt="logo" /></a>
      </section>
      <section class="nav-items col-6">
        <ul id="nav-mid">
          <li><a href="/inicio">Início</a></li>
          <li><a href="/servicos">Serviços</a></li>
          <li><a href="/medicos">Médicos(as)</a></li>
          <li><a href="/inicio">Contato</a></li>
        </ul>
      </section>
      <section class="entrar col-3">
        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
          <a href="/profile"><img class="profile-image-header"
              [src]="userProfile?.foto || 'caminho/para/imagem/default'" alt="Foto de perfil"
              (click)="goToProfile()"></a>
        </ng-container>
        <ng-template #notLoggedIn>
          <a (click)="navigate()" class="entrar-button">Entrar</a>
        </ng-template>
      </section>
    </div>
  </header>

  <section class="section-servicos">
    <section class="barra-pesquisa">
      <div class="barra-e-botao">
        <input type="text" placeholder="Procure pelo nome do serviço médico" (input)="buscarServicosPorNome($event)" />
        <button class="btn-buscar">Buscar</button>
      </div>
      <button class="btn-criar-servico" *ngIf="isMedico && !mostrarMeusServicos" (click)="abrirModalCriarServico()">Criar Serviço</button>
      <button class="btn-visualizar-servicos" *ngIf="isMedico" (click)="visualizarServicosMedico()">Meus Serviços</button>
    </section>

  <!-- Modal de criação de serviço -->
  <div *ngIf="mostrarModalCriarServico" class="modal">
    <div class="modal-conteudo">
      <h2>Criar Serviço</h2>
      <form (ngSubmit)="criarServico()" class="form-criar-servico">
        <div class="input-content">
          <input
            type="text"
            [(ngModel)]="novoServico.nomeServico"
            name="nomeServico"
            placeholder="Nome do Serviço"
            maxlength="50"
            required
          />
        </div>
        <div class="input-content">
          <textarea
            [(ngModel)]="novoServico.descricaoServico"
            name="descricaoServico"
            placeholder="Descrição do Serviço"
            maxlength="150"
            required
          ></textarea>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn-salvar">Salvar</button>
          <button type="button" class="btn-cancelar" (click)="fecharModalCriarServico()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Modal de alteração de serviço -->
  <div *ngIf="mostrarModalAlterarServico" class="modal">
    <div class="modal-conteudo">
      <h2>Alterar Serviço</h2>
      <form (ngSubmit)="atualizarServico()" class="form-alterar-servico">
        <div class="input-content">
          <input
            type="text"
            [(ngModel)]="servicoSelecionado.name"
            name="name"
            placeholder="Nome do Serviço"
            maxlength="50"
            required
          />
        </div>
        <div class="input-content">
          <textarea
            [(ngModel)]="servicoSelecionado.descricao"
            name="descricao"
            placeholder="Descrição do Serviço"
            maxlength="150"
            required
          ></textarea>
        </div>
        <div class="btn-group">
          <button type="submit" class="btn-salvar">Salvar</button>
          <button type="button" class="btn-cancelar" (click)="fecharModalAlterarServico()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <!-- Seção padrão de serviços exibidos -->
  <section class="card-servicos" *ngIf="!mostrarMeusServicos">
    <section class="card-grid">
      <div class="card" *ngFor="let servico of servicosExibidos">
        <h2 class="titulo-servico">{{ servico.name.slice(0, 50) }}</h2>
        <p class="descricao-servico">{{ servico.descricao.slice(0, 150) }}</p>
        <div class="botao-nome">
          <img class="botao-servico" src="../../../assets/svg/Seta com circulo.png" alt="botão" />
          <span class="nome-medico">{{ servico.name_medico }}</span>
        </div>
      </div>
    </section>
  </section>

  <!-- Seção para "Meus Serviços" -->
  <section class="meus-servicos" *ngIf="mostrarMeusServicos">
    <section class="card-servicos">
      <section class="card-grid">
        <div class="card" *ngFor="let servico of servicosMedicoExibidos">
          <h2 class="titulo-servico">{{ servico.name.slice(0, 50) }}</h2>
          <p class="descricao-servico">{{ servico.descricao.slice(0, 150) }}</p>
          <div class="botao-nome">
            <button class="btn-alterar" (click)="alterarServico(servico)">Alterar</button>
            <button class="btn-excluir" (click)="excluirServico(servico)">Excluir</button>
          </div>
        </div>
      </section>
    </section>

    <!-- Botão para visualizar todos os meus serviços -->
    <section class="todos-meus-servicos">
      <button *ngIf="!mostrarTodosMeusServicos && servicosMedico.length > 6" (click)="verTodosMeusServicos()" class="btn-todos">Ver todos os meus serviços</button>
    </section>
  </section>

    <!-- Botão para visualizar todos os serviços -->
    <section class="todos-servicos" *ngIf="!mostrarMeusServicos">
      <button *ngIf="!mostrarTodosServicos && servicos.length > 6" (click)="verTodosServicos()" class="btn-todos">Veja todos os serviços</button>
    </section>
  </section>

  <footer>
    <article class="footer-column-1">
      <a href="/inicio" class="footer-img"><img src="../../../assets/svg/logo.svg" alt="logo"></a>
      <img src="../../../assets/svg/redes-sociais.svg" alt="redes-sociais">
    </article>
    <article class="footer-column-2">
      <h3>Links</h3>
      <ul>
        <li><a href="/inicio">Início</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/medicos">Médicos(as)</a></li>
        <li><a href="/inicio">Contato</a></li>
      </ul>
    </article>
    <article class="footer-column-3">
      <h3>Eu quero:</h3>
      <ul>
        <li><a href="/medicos">Encontrar um Médico(a)</a></li>
        <li><a href="/medicos">Solicitar uma Consulta</a></li>
      </ul>
    </article>
  </footer>
</main>
