<main>
    <header>
        <div class="container">
            <section class="logo col-3">
                <a href="#"><img src="assets/svg/logo.svg" alt="logo" /></a>
            </section>
            <section class="nav-items col-6">
                <ul id="nav-mid">
                    <li><a href="/inicio">Início</a></li>
                    <li><a href="/servicos">Serviços</a></li>
                    <li><a href="/medicos">Médicos(as)</a></li>
                    <li><a href="/inicio">Contato</a></li>
                </ul>
            </section>
            <section class="entrar col-3">
                <ng-container *ngIf="isLoggedIn; else notLoggedIn">
                  <a href="/profile"><img class="profile-image-header" [src]="userProfile?.foto || 'caminho/para/imagem/default'" alt="Foto de perfil" (click)="goToProfile()"></a>
                </ng-container>
                <ng-template #notLoggedIn>
                  <a (click)="navigate()" class="entrar-button">Entrar</a>
                </ng-template>
              </section>
        </div>
    </header>
    
    

    <section class="login">
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <button 
            class="btn-login" 
            (click)="submit()"
            [disabled]="disablePrimaryBtn"
        >
            {{primaryBtnText}}
        </button>
        <div class="divider">
            <div></div>
            <span>OU</span>
            <div></div>
        </div>
        <button class="btn-signup" (click)="navigate()" >{{secondaryBtnText}}</button>
    </section>

    <footer>
        <article class="footer-column-1">
          <a href="/inicio" class="footer-img"><img src="../../../assets/svg/logo.svg" alt="logo"></a>
          <img src="../../../assets/svg/redes-sociais.svg" alt="redes-sociais">
        </article>
        <article class="footer-column-2">
          <h3>Links</h3>
          <ul>
            <li><a href="/inicio">Início</a></li>
            <li><a href="/servicos">Serviços</a></li>
            <li><a href="/medicos">Médicos(as)</a></li>
            <li><a href="/inicio">Contato</a></li>
          </ul>
        </article>
        <article class="footer-column-3">
          <h3>Eu quero:</h3>
          <ul>
            <li><a href="/medicos">Encontrar um Médico(a)</a></li>
            <li><a href="/medicos">Solicitar uma Consulta</a></li>
          </ul>
        </article>
      </footer>
</main>
