@import "../../../styles/variables.scss";

main {
  height: 100%;

  // Header 
  header {
    width: 100%;
    margin-top: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  header a {
    font-family: 'Outfit400', sans-serif;
    font-size: 20px;
    color: $text-color;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .logo {
    margin-right: 100px;
  }

  .logo img {
    max-width: 100%;
    height: auto;
  }

  .nav-items ul,
  .login ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-items ul li,
  .login ul li {
    display: inline;
    margin-right: 20px;
  }

  .nav-items ul li:last-child,
  .login ul li:last-child {
    margin-right: 0;
  }

  .nav-items {
    margin-right: auto;
  }

  .nav-items ul li {
    padding: 0px 15px;
  }

  .nav-items ul li a:hover {
    color: $primary-color;
  }


  .entrar {
    margin-left: auto;
  }

  .entrar a {
    color: $secondary-text-color;
  }

  .entrar-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: $primary-color;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .entrar-button:hover {
    background-color: rgb(3, 91, 185);
  }

  .profile-image-header {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  //Medicos barra de pesquisa
  .barra-pesquisa {
    display: flex;
    justify-content: center; /* Centraliza a barra de pesquisa */
    align-items: center;
    margin-bottom: 20px;
    padding: 50px 0px;
  }
  
  .barra-e-botao {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px; 
  }
  
  .barra-e-botao input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 10px 0 0 10px; 
    background-color: #E1E1FA; 
    color: black; 
  }
  
  .barra-e-botao .btn-buscar {
    padding: 10px 20px;
    border: none;
    border-radius: 0 10px 10px 0; 
    background-color: #007bff; 
    color: white;
    cursor: pointer;
    margin-left: -1px; 
  }
  
  .barra-e-botao .btn-buscar:hover {
    background-color: #0056b3;
  }


  // Medicos
  .card-medicos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px; 
    font-family: 'Outfit400', sans-serif;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 50px; 
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .card {
    width: 100%; 
    max-width: 300px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .card h4 {
    font-family: 'Outfit600', sans-serif;
  }
  
  .botao-medico {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .botao-nome {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    margin-top: auto;
  }
  
  .especialidade {
    background-color: #9CE2E4;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: #237D82;
    margin-right: auto; 
    max-width: calc(100% - 40px);
  }

  .endereco {
    padding: 10px 0px;
    text-align: center;
    margin-right: auto; 
    max-width: calc(100% - 40px);
  }

  .foto-medico {
    width: 100%;
    height: 250px;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  // Botao todos medicos

  .todos-medicos {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-todos {
    font-size: 18px;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }

  .btn-todos:hover {
    background-color: rgb(3, 91, 185);
  }

        // Footer
        footer {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          background-color: #EAEAEA;
          margin-top: 100px;
        }
  
        .footer-column-1 {
          display: flex;
          flex-direction: column;
          margin-top: 15px;
        }
  
        .footer-column-1 img {
          padding: 20px 0px;
        }
  
        .footer-column-2, .footer-column-3 {
          margin-top: 40px;
        }
  
  
  
        footer ul {
          list-style: none;
          padding: 10px 0px;
        }
  
        footer a {
          font-family: 'Outfit', sans-serif;
          font-weight: 400;
          color: $text-color;
          text-decoration: none;
          transition: color 0.3s ease;
          
        }
  
        footer ul li a:hover {
          color: $primary-color;
        }
  
        footer li {
          padding: 10px 0px;
        }
  
        .footer-img {
          margin-left: 30px;
        }
  
        // Footer
}