<main>
    <header>
        <div class="container">
            <section class="logo col-3">
                <a href="#"><img src="assets/svg/logo.svg" alt="logo" /></a>
            </section>
            <section class="nav-items col-6">
                <ul id="nav-mid">
                    <li><a href="/inicio">Início</a></li>
                    <li><a href="/servicos">Serviços</a></li>
                    <li><a href="/medicos">Médicos(as)</a></li>
                    <li><a href="/inicio">Contato</a></li>
                </ul>
            </section>
            <section class="entrar col-3">
                <ng-container *ngIf="isLoggedIn; else notLoggedIn">
                    <a href="/profile"><img class="profile-image-header"
                            [src]="userProfile?.foto || 'caminho/para/imagem/default'" alt="Foto de perfil"
                            (click)="goToProfile()"></a>
                </ng-container>
                <ng-template #notLoggedIn>
                    <a (click)="navigate()" class="entrar-button">Entrar</a>
                </ng-template>
            </section>
        </div>
    </header>

    <section class="section-medicos">
        <section class="barra-pesquisa">
            <div class="barra-e-botao">
                <input type="text" placeholder="Procure pelo nome do médico" (input)="buscarMedicosPorNome($event)" />
                <button class="btn-buscar">Buscar</button>
            </div>
        </section>

        <!-- Seção de médicos exibidos -->
        <section class="card-medicos">
            <section class="card-grid">
                <div class="card" *ngFor="let medico of medicosExibidos" (click)="verDetalhesMedico(medico)">
                    <img [src]="medico.foto || 'caminho/para/imagem/default'" alt="Foto do médico" class="foto-medico">
                    <h3 class="nome-medico">{{ medico.name }}</h3>
                    <h4 class="especialidade">{{ medico.especialidade }}</h4>
                    <div class="botao-nome">
                      <span class="endereco">{{ medico.endereco }}</span>
                      <img class="botao-medico" src="../../../assets/svg/Seta com circulo.png" alt="botão">
                    </div>
                  </div>                  
            </section>
        </section>        

        <!-- Botão para visualizar todos os médicos -->
        <section class="todos-medicos">
            <button *ngIf="!mostrarTodosMedicos && medicos.length > 6" (click)="verTodosMedicos()"
                class="btn-todos">Veja todos os médicos(as)</button>
        </section>
    </section>

    <footer>
        <article class="footer-column-1">
            <a href="/inicio" class="footer-img"><img src="../../../assets/svg/logo.svg" alt="logo"></a>
            <img src="../../../assets/svg/redes-sociais.svg" alt="redes-sociais">
        </article>
        <article class="footer-column-2">
            <h3>Links</h3>
            <ul>
                <li><a href="/inicio">Início</a></li>
                <li><a href="/servicos">Serviços</a></li>
                <li><a href="/medicos">Médicos(as)</a></li>
                <li><a href="/inicio">Contato</a></li>
            </ul>
        </article>
        <article class="footer-column-3">
            <h3>Eu quero:</h3>
            <ul>
                <li><a href="/medicos">Encontrar um Médico(a)</a></li>
                <li><a href="/medicos">Solicitar uma Consulta</a></li>
            </ul>
        </article>
    </footer>
</main>