@import "../../../styles/variables.scss";

main {
  height: 100%;

  // Header 
  header {
    width: 100%;
    margin-top: 20px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  header a {
    font-family: 'Outfit400', sans-serif;
    font-size: 20px;
    color: $text-color;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .logo {
    margin-right: 100px;
  }

  .logo img {
    max-width: 100%;
    height: auto;
  }

  .nav-items ul,
  .login ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-items ul li,
  .login ul li {
    display: inline;
    margin-right: 20px;
  }

  .nav-items ul li:last-child,
  .login ul li:last-child {
    margin-right: 0;
  }

  .nav-items {
    margin-right: auto;
  }

  .nav-items ul li {
    padding: 0px 15px;
  }

  .nav-items ul li a:hover {
    color: $primary-color;
  }

  .entrar {
    margin-left: auto;
  }

  .entrar a {
    color: $secondary-text-color;
  }

  .entrar-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: $primary-color;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .entrar-button:hover {
    background-color: rgb(3, 91, 185);
  }

  .profile-image-header {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  // Section 1
  .section-1 {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    gap: 20px;
    padding: 0 20px;
  }

  .section-1 p {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    margin: 0;
  }

  .section-1 img {
    border-radius: 20px;
    padding: 0px 10px;
  }

  .medico-1 {
    width: 300px;
    height: 450px;
  }

  .medico-2, .medico-3 {
    width: 250px;
    height: 270px;
    margin-top: 20px;
  }

  .column-3 {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .column-1 {
    width: 500px;
    margin-top: 20px;
  }

  .btn-consultas {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }

  .btn-consultas:hover {
    background-color: rgb(3, 91, 185);
  }

  // Section 2 servicos
  .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 0px;
  }

  .titulo-servicos {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 40px;
  }

  // Servicos card
  .card-servicos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .card {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
  }
  
  .titulo-servico {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 28px;
  }
  
  .descricao-servico {
    padding: 5px 0px;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 20px;
    word-wrap: break-word;
  }
  
  .botao-servico {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .botao-nome {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    margin-top: auto;
  }

  .btn-servicos {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: $primary-color;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }

  .btn-servicos:hover {
    background-color: rgb(3, 91, 185);
  }

  // Footer
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #EAEAEA;
    margin-top: 100px;
  }

  footer h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
  }

  .footer-column-1 {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 10%;
  }

  .footer-column-1 img {
    padding: 20px 0px;
  }

  .footer-column-2,
  .footer-column-3 {
    margin-top: 40px;
    margin-right: 10%;
  }

  footer ul {
    list-style: none;
    padding: 0px 0px;
  }

  footer a {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: $text-color;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  footer ul li a:hover {
    color: $primary-color;
  }

  footer li {
    padding: 10px 0px;
  }

  .footer-img {
    margin-left: 30px;
  }

  // Responsividade
  @media (max-width: 1200px) {
    .container {
      flex-direction: column;
      align-items: center;
    }

    .nav-items, .entrar {
      margin-top: 20px;
    }

    .section-1 {
      flex-direction: column;
      align-items: center;
    }

    .column-1, .column-3 {
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 768px) {
    .section-1 p {
      font-size: 30px;
    }

    .card-grid {
      grid-template-columns: 1fr;
    }

    footer {
      flex-direction: column;
      align-items: center;
    }

    .footer-column-1, .footer-column-2, .footer-column-3 {
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }

    #nav-mid a {
      font-size: 18px;
    }

    .medico-2,
  .medico-3 {
    display: none;
  }
  }

  @media (max-width: 480px) {
    .nav-items ul {
      flex-direction: column;
      align-items: center;
      
    }

    .nav-items ul li {
      margin-right: 0;
      margin-bottom: 10px;
      
    }

    .section-1 p {
      font-size: 24px;
    }

    .medico-1, .medico-2, .medico-3 {
      width: 100%;
      height: auto;
    }

    .card-grid {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
