<main>
  <header>
    <div class="container">
      <section class="logo col-3">
        <a href="/inicio"><img src="assets/svg/logo.svg" alt="logo" /></a>
      </section>
      <section class="nav-items col-6">
        <ul id="nav-mid">
          <li><a href="/inicio">Início</a></li>
          <li><a href="/servicos">Serviços</a></li>
          <li><a href="/medicos">Médicos(as)</a></li>
          <li><a href="/inicio">Contato</a></li>
        </ul>
      </section>
      <section class="entrar col-3">
        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
          <a href="/profile"><img class="profile-image-header"
              [src]="userProfile?.foto || 'caminho/para/imagem/default'" alt="Foto de perfil"
              (click)="goToProfile()"></a>
        </ng-container>
        <ng-template #notLoggedIn>
          <a (click)="navigate()" class="entrar-button">Entrar</a>
        </ng-template>
      </section>
    </div>
  </header>

  <section class="section-1">
    <article class="column-1">
      <p class="main-text">Sua saúde é nosso compromisso. Clinicare: sempre ao seu lado</p>
      <a href="/medicos"><button class="btn-consultas">Solicite uma Consulta</button></a>
    </article>
    <article>
      <img class="medico-1" src="../../../assets/svg/Médico 1.png" alt="Médico 1">
    </article>
    <article class="column-3">
      <img class="medico-2" src="../../../assets/svg/Médico 2.png" alt="Médico 2">
      <img class="medico-3" src="../../../assets/svg/Médica 3.png" alt="Médica 3">
    </article>
  </section>
  

  <section class="section-2">
    <h2 class="titulo-servicos">Alguns dos nossos serviços médicos</h2>
    <article>
      <!-- Seção padrão de serviços exibidos -->
      <section class="card-servicos" *ngIf="!mostrarMeusServicos">
        <section class="card-grid">
          <div class="card" *ngFor="let servico of servicosExibidos">
            <h2 class="titulo-servico">{{ servico.name }}</h2>
            <p class="descricao-servico">{{ servico.descricao }}</p>
            <div class="botao-nome">
              <img class="botao-servico" src="../../../assets/svg/Seta com circulo.png" alt="botão">
              <!-- <span class="nome-medico">{{ servico.name_medico }}</span> -->
            </div>
          </div>
        </section>
      </section>
    </article>
    <a href="/servicos"><button class="btn-servicos">Veja todos os serviços médicos</button></a>
  </section>

  <footer>
    <article class="footer-column-1">
      <a href="/inicio" class="footer-img"><img src="../../../assets/svg/logo.svg" alt="logo"></a>
      <img src="../../../assets/svg/redes-sociais.svg" alt="redes-sociais">
    </article>
    <article class="footer-column-2">
      <h3>Links:</h3>
      <ul>
        <li><a href="/inicio">Início</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/medicos">Médicos(as)</a></li>
        <li><a href="/inicio">Contato</a></li>
      </ul>
    </article>
    <article class="footer-column-3">
      <h3>Eu quero:</h3>
      <ul>
        <li><a href="/medicos">Encontrar um Médico(a)</a></li>
        <li><a href="/medicos">Solicitar uma Consulta</a></li>
      </ul>
    </article>
  </footer>

</main>