/* Geral */
@import "../../../styles/variables.scss";

main {
    height: 100%;

    /* Header */
    header {
        width: 100%;
        margin-top: 20px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    header a {
        font-family: 'Outfit400', sans-serif;
        font-size: 20px;
        color: $text-color;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .logo {
        margin-right: 100px;
    }

    .logo img {
        max-width: 100%;
        height: auto;
    }

    .nav-items ul,
    .login ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-items ul li,
    .login ul li {
        display: inline;
        margin-right: 20px;
    }

    .nav-items ul li:last-child,
    .login ul li:last-child {
        margin-right: 0;
    }

    .nav-items {
        margin-right: auto;
    }

    .nav-items ul li {
        padding: 0px 15px;
    }

    .nav-items ul li a:hover {
        color: $primary-color;
    }

    .entrar {
        margin-left: auto;
    }

    .entrar a {
        color: $secondary-text-color;
    }

    .entrar-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: $primary-color;
        text-decoration: none;
        border-radius: 20px;
        cursor: pointer;
    }

    .entrar-button:hover {
        background-color: rgb(3, 91, 185);
    }

    /* Content */
    .content {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
    }

    .login {
        font-family: 'Outfit600', sans-serif;
        display: flex;
        flex-direction: column;
        max-width: 450px;
        width: 60%;
        margin-left: 10px;
        /* Adiciona margem à esquerda para aproximar da imagem */
        margin-right: 100px;
    }

    .login h2 {
        font-weight: 600;
        margin-bottom: 20px;
    }

    .login button {
        width: 100%;
        padding: 15px;
        font-family: 'Outfit', sans-serif;
        font-size: 20px;
        font-weight: bold;
        border-radius: 8px;
        cursor: pointer;
    }

    .btn-login {
        background-color: rgb(0, 120, 246);
        color: white;
        border: none;

        &:disabled {
            opacity: 0.7;
        }
    }

    .btn-login:hover {
        background-color: rgb(3, 91, 185);
    }

    .btn-signup {
        background-color: white;
        color: rgb(0, 120, 246);
        border: 2px solid rgb(0, 120, 246);
    }

    .btn-signup:hover {
        background-color: rgb(224, 224, 224);
    }

    .login div {
        margin: 10px 0;
    }

    .signup-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .signup-bottom span {
        font-family: 'Outfit400', sans-serif;
        margin-right: 10px;
    }

    .signup-link {
        font-family: 'Outfit400', sans-serif;
        color: rgb(0, 120, 246);
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
    }

    .signup-link:hover {
        text-decoration: underline;
    }

    .image-section img {
        width: 300px;
    }

    // Footer
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #EAEAEA;
        margin-top: 100px;
    }

    .footer-column-1 {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-right: 10%;
    }

    .footer-column-1 img {
        padding: 20px 0px;
    }

    .footer-column-2,
    .footer-column-3 {
        margin-top: 40px;
        margin-right: 10%;
    }



    footer ul {
        list-style: none;
        padding: 10px 0px;
    }

    footer a {
        font-family: 'Outfit', sans-serif;
        font-weight: 400;
        color: $text-color;
        text-decoration: none;
        transition: color 0.3s ease;

    }

    footer ul li a:hover {
        color: $primary-color;
    }

    footer li {
        padding: 10px 0px;
    }

    .footer-img {
        margin-left: 30px;
    }

    // Footer
}